<nav class="navbar">
    <a href="/currentSchedule">See Your Schedule</a>
    <a href="/editSchedule">Redo Schedule</a>
    <a href="/newEmployee">New Employee</a>
    <a href="/findEmployee">Edit Employee</a>
</nav>
<hr>
<style>

    h1 {
        margin-left: 20px; 
        display: inline-block; 
    }

    .navbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0; 
    }

    .navbar a, a > h1 {
        text-decoration: none;
        color: #000; 
    }
</style>
