<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
<body>
    <%-include('partials/navbar')%>
 <h2>How this works?</h2>
<p>
    First you make an account and make a schedule. Once you've<br>
    made your account and sign in you may proceed to add all your<br>
    employees to your record and then to see your final schedule,<br> 
    simply go to the see your schedule section. The schedule made<br>
    is completely random but it will be based on based on the schedule<br>
    you initially made for your account, thus as long as you have enough<br>
    employees, everything should be fine. Each opener and closer gets<br> 
    6 hours each and each all arounder which is the helper will <br>
    recieve a variable number of hours depending on the hours of<br> 
    the workplace.
</p>
<br><br>
 <h2>Adding New Employees</h2>
<p>
    In order to add a new employee all you need to do<br>
    is head to the New Employee section and fill out all<br>
    the necessary requirements and your good to go.
</p>
<br><br>
 <h2>Editting Employees</h2>
<p>
    To edit any details of any of your employees you must first<br>
    go to the Edit Employee section and search them up and remember<br>
    to be very case sensitive and type in the full name. Once you've<br>
    done that you may edit as you please or if you need to remove the<br>
    employee from the records you must do so by checking the removal<br>
    checkbox.
</p>
<br><br>
 <h2>Editting Schedules</h2>
 <p>
    Editting the schedule is very simple all you need to do<br>
    is go to the Redo schedule section and enter in all your<br>
    new requirements such as the hours, required openers, closers<br>
    and etc. Then the site will automatically look at the<br>
    resources you currently have and make a new schedule based<br>
    on your current needs.
 </p>
 <style>
    h2 {
        font-weight: bold;
        text-decoration: underline;
        font-size: 24px; /* Adjust the size as needed */
    }
</style>

</body>
</html>
