<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    </head>
<body>
  <%-include('partials/navbar')%>
</body>
</html>