<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
<body>
    <form action = "/" method = "post">
        UserName: <input type = "text" name = "user">
        Password: <input type = "password" name = "pw">
        <input type="submit" value="submit">
    </form>
    <a href="/createAccount">Create New Account</a>
    <div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Welcome</h1>
            <p class="mb-5">On this site you as a manager will be able to make a randomized schedule each week that accomodates all your needs and employees.</p>
          </div>
        </div>
      </div>
</body>
</html>
