<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
<body>
    <form action = "/" method = "post">
        UserName: <input type = "text" name = "user">
        Password: <input type = "password" name = "pw">
        <input type="submit" placeholder="submit">
    </form>
    <a href="/createAccount">Create New Account</a>
</body>
</html>
